p{
    margin: 5px 0;
}
.menu{
    position: relative;
    text-align: center;
    color: #a2a2a2;
    padding: 15% 0;
}
.menu h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 4px;
    margin-top: 0;
}
.bg-cardio{
    background-image: url(../img/iniciobg-01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	padding: 30% 0;
	margin-bottom: 15px;
}

.bg-piernas{
    background-image: url(../img/iniciobg-02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	padding: 30% 0;
	margin: 15px 0;
}

.texto{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: grid;
    align-content: center;
}

.img-fluid{
    max-width: 100%;
}
.list-menu img{
    width: 100px;
}

.list-menu{
    margin-top: 0 !important;
    color: #C7C7C7;
    font-size: 14px !important;
}
.list-menu .item-header{
    color: #827B76;
    font-weight: 600 !important;
    font-size: 20px !important;
    margin-bottom: 2px;
}
.list-menu .item-footer{
    color: #0094B3 !important;
    font-weight: 400 !important;
    margin: 2px 0;
}



.overlay-drinks{
    background-color: rgba(198,180,150,0.95);
}

.card-drinks{
    background-color: #f3f3f3;
    padding: 10px;
}
.card-header h3{
    color: #5C5C5E !important;
    font-size: 16px !important;
    margin: 0;
}
.card-content{
    text-align: center;
}
.card-content img{
    width: 120px;
    margin: 0 auto;
}
.card-footer{
    color: #0d9f67 !important;
    font-weight: 400 !important;
}

.img-center{
	margin: 20px auto;
	display: block
}
.titulo{
	font-size: 16px;
	color: #000 !important;
	font-weight: 600;
	margin: 0 5px;
}
.precio{
	font-size: 16px;
	color: #0094B3;
	text-align: right;
	font-weight: 600;
	margin: 0 3px;
}
.contenido{
	font-size: 14px;
	color: #5C5C5E;
	margin: 30px 0;
}
.button{
	margin-bottom: 5px !important;
	text-transform: inherit !important;
}
.btn-negro{
	background-color: #000 !important;
	color: #fff !important;
	display: block !important;
	text-align: center;
	width: 100%;
	border-radius: 0 !important;
}
.btn-blanco{
	background-color: #fff !important;
	color: #5C5C5E !important;
	display: block !important;
	text-align: center;
	width: 100%;
	border-radius: 0 !important;
	border:1px solid #ccc !important;
}

.navbar a,
.toolbar a{
	color: #fff !important;
}
a{
	color: #876841 !important;
}

.swiper-wrapper img{
	width: 150px;
	margin: 20px auto;
	display: block;
}


.popup-confirm{
	color: #ccc;
	text-align: center;
}
.icon-done{
	width: 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 100%;
	background-color: #c9f4c9;
	color: #fff;
	text-align: center;
	margin: auto;
	display: block;
}
.icon-done i{
	font-size: 60px;
}

.category{
	font-size: 16px;
	color: #5C5C5E !important;
	margin: 0 5px;
}


